{% extends "users/base.html" %}

{% block title %}
<title>Hello</title>
{% endblock %}

{% block content %}
<div class="container min-vh-100 d-flex flex-column align-items-center justify-content-center">

<form method="post" class="card border-0 spacing" novalidate action="{% url 'accounts:login' %}">
{% csrf_token %}
  <h2 class="text-center">Log in to your account</h2>
  	{% for field in form %}

	    		{{ field.label_tag }}
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags }}</small>
	        	{% endif %}
		{% endfor %}
<input type="submit" value="Login" class="btn btn-primary full-width">
<input type="hidden" name="next" value="{{ next }}">
<p class="text-center">Don't have a account? <a href="{% url 'accounts:signup' %}">Join Now</a></p>

</form>
</div>
{% endblock %}
